@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fira+Code:wght@300..700&family=Inter:opsz,wght@14..32,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

.anton-regular {
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;
}

html {
	font-family: "Anton", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("./assets/fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Norwester";
	src: url("./assets/fonts/norwester.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

.gilroy {
	font-family: "Gilroy", sans-serif;
}

.norwester {
	font-family: "Norwester", sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background: black;
	overflow: hidden;
}
